@import 'reset';
@import 'mixins';
@import 'grid';
.container {
    margin: 0 auto;
    max-width: 1000px;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.gray {
    background-color: rgb(170, 162, 162);
}